# Flask config
# Boolean. Will start Flask in debug mode if true.
FLASK_DEBUG=

# MySQL config
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Directus config
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_TOKEN=