.city-label-tooltip {
  background: white !important;
  color: #8A2D2D !important;
  border: none !important;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);

  font-weight: 600;

  

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  padding: 1 !important;       
  line-height: 1;              
  text-align: center;

  overflow: hidden;            
}

.leaflet-tooltip.city-label-tooltip {
  padding: 1 !important;
  min-width: 1 !important;
  border-radius: 50% !important;
}