{% extends "base.html" %}

{% block title %} Database {% endblock title %}

{% block body %}
<table>
    <tr>
        {% for col in columns %}
        <!-- TODO: Doing this in Jinja for now. Shouldn't. -->
            <th>
                {%- set header = col[0] | replace("_", " ") -%}
                <!-- TODO: Incredibly badly written code. Supposed to change PascalCase into human readable. -->
                {%- set header = header | 
                    replace("A", " A") | replace("B", " B") | replace("C", " C") | replace("D", " D") | replace("E", " E") | replace("F", " F") | 
                    replace("G", " G") | replace("H", " H") | replace("I", " I") | replace("J", " J") | replace("K", " K") | replace("L", " L") | 
                    replace("M", " M") | replace("N", " N") | replace("O", " O") | replace("P", " P") | replace("Q", " Q") | replace("R", " R") |
                    replace("S", " S") | replace("T", " T") | replace("U", " U") | replace("V", " V") | replace("W", " W") | replace("X", " X") | 
                    replace("Y", " Y") | replace("Z", " Z") -%}
                {{- header | trim | title -}}
            </th>
        {% endfor %}
    </tr>
    {% for row in rows %}
    <tr>
        {% for col in row %}
        <th>{{ col }}</th>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<!-- NOTE: Not needed for the time being. Might again.
<form method="POST" action="{{ url_for('data') }}">
    <button type="submit">Insert new demo data</button>
</form>-->
{% endblock body %}