{% extends "base.html" %}

{% block title %} Database {% endblock title %}

{% block body %}
<table>
    <tr>
        {% for col in columns %}
        <!-- TODO: Doing this in Jinja for now. Shouldn't. -->
        <th>{{ col[0].replace("_", " ")|title }}</th>
        {% endfor %}
    </tr>
    {% for row in rows %}
    <tr>
        {% for col in row %}
        <th>{{ col }}</th>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<form method="POST" action="{{ url_for('data') }}">
    <button type="submit">Insert new demo data</button>
</form>
{% endblock body %}